.ant-card-extra .ant-tag {
  padding: 0;
  border: none;
  display: inline;
  margin: 0 2px;
  background: transparent;
}

.ant-badge-status .ant-card-small > .ant-card-body {
  padding: 6px 12px;
}

.ant-badge {
  transition: all 0.1s;
}

.ant-badge:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 0 2px rgba(255, 255, 255, 0.2);
}
